<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>赤の組織</string>
<key>shortcut</key>
<string>あかのそしき</string>
</dict>
<dict>
<key>phrase</key>
<string>アニキとコブン</string>
<key>shortcut</key>
<string>あにきとこぶん</string>
</dict>
<dict>
<key>phrase</key>
<string>油飯屋</string>
<key>shortcut</key>
<string>あぶらめしや</string>
</dict>
<dict>
<key>phrase</key>
<string>雨森久遠</string>
<key>shortcut</key>
<string>あめもりくどう</string>
</dict>
<dict>
<key>phrase</key>
<string>いずれ菖蒲か杜若</string>
<key>shortcut</key>
<string>あやかき</string>
</dict>
<dict>
<key>phrase</key>
<string>アラサーランク帯</string>
<key>shortcut</key>
<string>あらさーらんくたい</string>
</dict>
<dict>
<key>phrase</key>
<string>アリストロベリー</string>
<key>shortcut</key>
<string>ありすとろべりー</string>
</dict>
<dict>
<key>phrase</key>
<string>AlleXceed Familia</string>
<key>shortcut</key>
<string>あれくしーどふぁみりあ</string>
</dict>
<dict>
<key>phrase</key>
<string>暗殺一家</string>
<key>shortcut</key>
<string>あんさついっか</string>
</dict>
<dict>
<key>phrase</key>
<string>i's</string>
<key>shortcut</key>
<string>いーりす</string>
</dict>
<dict>
<key>phrase</key>
<string>いずれ菖蒲か杜若</string>
<key>shortcut</key>
<string>いずれあやめかかきつばた</string>
</dict>
<dict>
<key>phrase</key>
<string>痛面組</string>
<key>shortcut</key>
<string>いたずらぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>一槍一星</string>
<key>shortcut</key>
<string>いっそういっせい</string>
</dict>
<dict>
<key>phrase</key>
<string>Idios</string>
<key>shortcut</key>
<string>いでぃおす</string>
</dict>
<dict>
<key>phrase</key>
<string>VACHSS</string>
<key>shortcut</key>
<string>ゔぁっくす</string>
</dict>
<dict>
<key>phrase</key>
<string>VΔLZ</string>
<key>shortcut</key>
<string>ゔぁるつ</string>
</dict>
<dict>
<key>phrase</key>
<string>ういすぴ～ど～なっつ</string>
<key>shortcut</key>
<string>ういすぴーどーなっつ</string>
</dict>
<dict>
<key>phrase</key>
<string>ういにんぐらん</string>
<key>shortcut</key>
<string>ういにんぐらん</string>
</dict>
<dict>
<key>phrase</key>
<string>ういにんグらん</string>
<key>shortcut</key>
<string>ういにんぐらん</string>
</dict>
<dict>
<key>phrase</key>
<string>VOIZ</string>
<key>shortcut</key>
<string>ゔぉいず</string>
</dict>
<dict>
<key>phrase</key>
<string>うんち教</string>
<key>shortcut</key>
<string>うんちきょう</string>
</dict>
<dict>
<key>phrase</key>
<string>EXゲーマーズ</string>
<key>shortcut</key>
<string>えくすげーまーず</string>
</dict>
<dict>
<key>phrase</key>
<string>SF組</string>
<key>shortcut</key>
<string>えすえふぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>エデン組</string>
<key>shortcut</key>
<string>えでんぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>evergreen nerd</string>
<key>shortcut</key>
<string>えばーぐりーんなーど</string>
</dict>
<dict>
<key>phrase</key>
<string>ERRors</string>
<key>shortcut</key>
<string>えらーず</string>
</dict>
<dict>
<key>phrase</key>
<string>炎上流星群</string>
<key>shortcut</key>
<string>えんじょうりゅうせいぐん</string>
</dict>
<dict>
<key>phrase</key>
<string>OTN組</string>
<key>shortcut</key>
<string>おーてぃーえぬぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>漢組</string>
<key>shortcut</key>
<string>おとこぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>おなえどし組</string>
<key>shortcut</key>
<string>おなえどしぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>Oriens</string>
<key>shortcut</key>
<string>おりえんす</string>
</dict>
<dict>
<key>phrase</key>
<string>おりコウ</string>
<key>shortcut</key>
<string>おりこう</string>
</dict>
<dict>
<key>phrase</key>
<string>織姫星</string>
<key>shortcut</key>
<string>おりひめぼし</string>
</dict>
<dict>
<key>phrase</key>
<string>解散GIG</string>
<key>shortcut</key>
<string>かいさんぎぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>楓と美兎</string>
<key>shortcut</key>
<string>かえでとみと</string>
</dict>
<dict>
<key>phrase</key>
<string>ガチ屑農家</string>
<key>shortcut</key>
<string>がちくずのうか</string>
</dict>
<dict>
<key>phrase</key>
<string>ガッ灰</string>
<key>shortcut</key>
<string>がっかい</string>
</dict>
<dict>
<key>phrase</key>
<string>叶え葉</string>
<key>shortcut</key>
<string>かなえよう</string>
</dict>
<dict>
<key>phrase</key>
<string>きらきら温泉</string>
<key>shortcut</key>
<string>きらきらおんせん</string>
</dict>
<dict>
<key>phrase</key>
<string>きらンゴ</string>
<key>shortcut</key>
<string>きらんご</string>
</dict>
<dict>
<key>phrase</key>
<string>金銀銅ポン</string>
<key>shortcut</key>
<string>きんぎんどうぽん</string>
</dict>
<dict>
<key>phrase</key>
<string>グリーンルージュ</string>
<key>shortcut</key>
<string>ぐりーんるーじゅ</string>
</dict>
<dict>
<key>phrase</key>
<string>cresc.</string>
<key>shortcut</key>
<string>くれっしぇんど</string>
</dict>
<dict>
<key>phrase</key>
<string>紅のライヘンバッハ</string>
<key>shortcut</key>
<string>くれないのらいへんばっは</string>
</dict>
<dict>
<key>phrase</key>
<string>Crossick</string>
<key>shortcut</key>
<string>くろしっく</string>
</dict>
<dict>
<key>phrase</key>
<string>黒ノ火廻</string>
<key>shortcut</key>
<string>くろのひまわり</string>
</dict>
<dict>
<key>phrase</key>
<string>ChroNoiR</string>
<key>shortcut</key>
<string>くろのわーる</string>
</dict>
<dict>
<key>phrase</key>
<string>月華美人</string>
<key>shortcut</key>
<string>げっかびじん</string>
</dict>
<dict>
<key>phrase</key>
<string>紅白アホ合戦</string>
<key>shortcut</key>
<string>こうはくあほがっせん</string>
</dict>
<dict>
<key>phrase</key>
<string>黒夢町</string>
<key>shortcut</key>
<string>こくむちょう</string>
</dict>
<dict>
<key>phrase</key>
<string>ここフレわんわん</string>
<key>shortcut</key>
<string>ここふれわんわん</string>
</dict>
<dict>
<key>phrase</key>
<string>ござンボ</string>
<key>shortcut</key>
<string>ござんぼ</string>
</dict>
<dict>
<key>phrase</key>
<string>こじらせ★ハラスメント</string>
<key>shortcut</key>
<string>こじらせはらすめんと</string>
</dict>
<dict>
<key>phrase</key>
<string>今宵、××と夢を見る。</string>
<key>shortcut</key>
<string>こよいとすぴねるゆめをみる</string>
</dict>
<dict>
<key>phrase</key>
<string>サイコ組</string>
<key>shortcut</key>
<string>さいこぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>三者面団</string>
<key>shortcut</key>
<string>さんしゃめんだん</string>
</dict>
<dict>
<key>phrase</key>
<string>花園快晴</string>
<key>shortcut</key>
<string>さんふらわーがーでん</string>
</dict>
<dict>
<key>phrase</key>
<string>SEEDs</string>
<key>shortcut</key>
<string>しーず</string>
</dict>
<dict>
<key>phrase</key>
<string>SiiRii</string>
<key>shortcut</key>
<string>しーりー</string>
</dict>
<dict>
<key>phrase</key>
<string>JS組</string>
<key>shortcut</key>
<string>じぇーえすぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>JKL</string>
<key>shortcut</key>
<string>じぇーけーえる</string>
</dict>
<dict>
<key>phrase</key>
<string>JK組</string>
<key>shortcut</key>
<string>じぇーけーぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>渋谷大ガク</string>
<key>shortcut</key>
<string>しぶやだいがく</string>
</dict>
<dict>
<key>phrase</key>
<string>女子校花畑</string>
<key>shortcut</key>
<string>じょしこうはなばたけ</string>
</dict>
<dict>
<key>phrase</key>
<string>シリンソウ</string>
<key>shortcut</key>
<string>しりんそう</string>
</dict>
<dict>
<key>phrase</key>
<string>THE lejouet</string>
<key>shortcut</key>
<string>じるじゅえ</string>
</dict>
<dict>
<key>phrase</key>
<string>SilverDevilS</string>
<key>shortcut</key>
<string>しるばーでびるず</string>
</dict>
<dict>
<key>phrase</key>
<string>深夜三傑RKS</string>
<key>shortcut</key>
<string>しんやさんけつあーるけーえす</string>
</dict>
<dict>
<key>phrase</key>
<string>SKB部</string>
<key>shortcut</key>
<string>すけべぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>SC組</string>
<key>shortcut</key>
<string>すしぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>ストロベル</string>
<key>shortcut</key>
<string>すとろべる</string>
</dict>
<dict>
<key>phrase</key>
<string>SNOWPOP</string>
<key>shortcut</key>
<string>すのうぽっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>スノーベル</string>
<key>shortcut</key>
<string>すのーべる</string>
</dict>
<dict>
<key>phrase</key>
<string>Speciale</string>
<key>shortcut</key>
<string>すぺしゃーれ</string>
</dict>
<dict>
<key>phrase</key>
<string>SMC組</string>
<key>shortcut</key>
<string>すめしぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>3SKM</string>
<key>shortcut</key>
<string>すりーえすけーえむ</string>
</dict>
<dict>
<key>phrase</key>
<string>世怜音演劇同好会</string>
<key>shortcut</key>
<string>せれいねえんげきどうこうかい</string>
</dict>
<dict>
<key>phrase</key>
<string>セレじょ高等部組</string>
<key>shortcut</key>
<string>せれじょこうとうぶぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>騒音姉妹</string>
<key>shortcut</key>
<string>そうおんしまい</string>
</dict>
<dict>
<key>phrase</key>
<string>袖無しブラックリリィ</string>
<key>shortcut</key>
<string>そでなしぶらっくりりぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>鷹匠</string>
<key>shortcut</key>
<string>たかじょう</string>
</dict>
<dict>
<key>phrase</key>
<string>ダブルスリーブ</string>
<key>shortcut</key>
<string>だぶるすりーぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>ダレパンダ</string>
<key>shortcut</key>
<string>だれぱんだ</string>
</dict>
<dict>
<key>phrase</key>
<string>探偵と助手</string>
<key>shortcut</key>
<string>たんていとじょしゅ</string>
</dict>
<dict>
<key>phrase</key>
<string>乳毛山</string>
<key>shortcut</key>
<string>ちちげやま</string>
</dict>
<dict>
<key>phrase</key>
<string>乳山</string>
<key>shortcut</key>
<string>ちちやま</string>
</dict>
<dict>
<key>phrase</key>
<string>チューリップ組</string>
<key>shortcut</key>
<string>ちゅーりっぷぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>Dの石</string>
<key>shortcut</key>
<string>でぃーのいし</string>
</dict>
<dict>
<key>phrase</key>
<string>Dytica</string>
<key>shortcut</key>
<string>でぃてぃか</string>
</dict>
<dict>
<key>phrase</key>
<string>でびリオン</string>
<key>shortcut</key>
<string>でびりおん</string>
</dict>
<dict>
<key>phrase</key>
<string>デロロギ</string>
<key>shortcut</key>
<string>でろろぎ</string>
</dict>
<dict>
<key>phrase</key>
<string>でろンボ</string>
<key>shortcut</key>
<string>でろんぼ</string>
</dict>
<dict>
<key>phrase</key>
<string>電音部</string>
<key>shortcut</key>
<string>でんおんぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Twinkle</string>
<key>shortcut</key>
<string>とぅいんくる</string>
</dict>
<dict>
<key>phrase</key>
<string>刀える</string>
<key>shortcut</key>
<string>とうえる</string>
</dict>
<dict>
<key>phrase</key>
<string>刀かざ</string>
<key>shortcut</key>
<string>とうかざ</string>
</dict>
<dict>
<key>phrase</key>
<string>刀リリ</string>
<key>shortcut</key>
<string>とうりり</string>
</dict>
<dict>
<key>phrase</key>
<string>童話組</string>
<key>shortcut</key>
<string>どうわぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>†咎人†</string>
<key>shortcut</key>
<string>とがびと</string>
</dict>
<dict>
<key>phrase</key>
<string>ド葛本社</string>
<key>shortcut</key>
<string>どくずほんしゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>ド葛本社オルタ</string>
<key>shortcut</key>
<string>どくずほんしゃおるた</string>
</dict>
<dict>
<key>phrase</key>
<string>トライト</string>
<key>shortcut</key>
<string>とらいと</string>
</dict>
<dict>
<key>phrase</key>
<string>ドラひま</string>
<key>shortcut</key>
<string>どらひま</string>
</dict>
<dict>
<key>phrase</key>
<string>トリガー</string>
<key>shortcut</key>
<string>とりがー</string>
</dict>
<dict>
<key>phrase</key>
<string>▽▲TRiNITY▲▽</string>
<key>shortcut</key>
<string>とりにてぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>夜王国</string>
<key>shortcut</key>
<string>やおうこく</string>
</dict>
<dict>
<key>phrase</key>
<string>NZMN</string>
<key>shortcut</key>
<string>なぞめん</string>
</dict>
<dict>
<key>phrase</key>
<string>にじいろきゃんD→☆</string>
<key>shortcut</key>
<string>にじいろきゃんでぃー</string>
</dict>
<dict>
<key>phrase</key>
<string>狂犬ズ</string>
<key>shortcut</key>
<string>きょうけんず</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじマスコッツ</string>
<key>shortcut</key>
<string>にじさんじますこっつ</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじレジスタンス</string>
<key>shortcut</key>
<string>にじさんじれじすたんす</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじレジスタンス(株)</string>
<key>shortcut</key>
<string>にじさんじれじすたんすかぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>にじレジ</string>
<key>shortcut</key>
<string>にじれじ</string>
</dict>
<dict>
<key>phrase</key>
<string>にじレジ(株)</string>
<key>shortcut</key>
<string>にじれじかぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>Nornis</string>
<key>shortcut</key>
<string>のるにす</string>
</dict>
<dict>
<key>phrase</key>
<string>ハッピートリガー</string>
<key>shortcut</key>
<string>はっぴーとりがー</string>
</dict>
<dict>
<key>phrase</key>
<string>はンゴろし</string>
<key>shortcut</key>
<string>はんごろし</string>
</dict>
<dict>
<key>phrase</key>
<string>BGクラブ</string>
<key>shortcut</key>
<string>びーじーくらぶ</string>
</dict>
<dict>
<key>phrase</key>
<string>pure♡palet</string>
<key>shortcut</key>
<string>ぴゅあぱれっと</string>
</dict>
<dict>
<key>phrase</key>
<string>フ景罪</string>
<key>shortcut</key>
<string>ふけいざい</string>
</dict>
<dict>
<key>phrase</key>
<string>petit fleurs</string>
<key>shortcut</key>
<string>ぷちふるーる</string>
</dict>
<dict>
<key>phrase</key>
<string>ぷりずむりりっく！</string>
<key>shortcut</key>
<string>ぷりずむりりっく</string>
</dict>
<dict>
<key>phrase</key>
<string>Hexenschuß彡</string>
<key>shortcut</key>
<string>へくせんしゅす</string>
</dict>
<dict>
<key>phrase</key>
<string>紅ズワイガニ</string>
<key>shortcut</key>
<string>べにずわいがに</string>
</dict>
<dict>
<key>phrase</key>
<string>ヘブンガールズ</string>
<key>shortcut</key>
<string>へぶんがーるず</string>
</dict>
<dict>
<key>phrase</key>
<string>ぽさんけ</string>
<key>shortcut</key>
<string>ぽさんけ</string>
</dict>
<dict>
<key>phrase</key>
<string>ホシと探偵</string>
<key>shortcut</key>
<string>ほしとたんてい</string>
</dict>
<dict>
<key>phrase</key>
<string>VOLTACTION</string>
<key>shortcut</key>
<string>ぼるたくしょん</string>
</dict>
<dict>
<key>phrase</key>
<string>本間ノ葛也</string>
<key>shortcut</key>
<string>ほんまのくずや</string>
</dict>
<dict>
<key>phrase</key>
<string>舞元力一</string>
<key>shortcut</key>
<string>まいもとりきいち</string>
</dict>
<dict>
<key>phrase</key>
<string>魔武天</string>
<key>shortcut</key>
<string>まぶてん</string>
</dict>
<dict>
<key>phrase</key>
<string>みれロア</string>
<key>shortcut</key>
<string>みれろあ</string>
</dict>
<dict>
<key>phrase</key>
<string>月下の桜</string>
<key>shortcut</key>
<string>むーんらいとぶろっさむ</string>
</dict>
<dict>
<key>phrase</key>
<string>メイフ</string>
<key>shortcut</key>
<string>めいふ</string>
</dict>
<dict>
<key>phrase</key>
<string>MC組</string>
<key>shortcut</key>
<string>めしぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>MECHATU-A</string>
<key>shortcut</key>
<string>めちゃつえー</string>
</dict>
<dict>
<key>phrase</key>
<string>メッシャーズ</string>
<key>shortcut</key>
<string>めっしゃーず</string>
</dict>
<dict>
<key>phrase</key>
<string>モほすず</string>
<key>shortcut</key>
<string>もほすず</string>
</dict>
<dict>
<key>phrase</key>
<string>森枝</string>
<key>shortcut</key>
<string>もりえだ</string>
</dict>
<dict>
<key>phrase</key>
<string>夢星家</string>
<key>shortcut</key>
<string>ゆめほしけ</string>
</dict>
<dict>
<key>phrase</key>
<string>今宵、××と夢を見る。</string>
<key>shortcut</key>
<string>よいゆめ</string>
</dict>
<dict>
<key>phrase</key>
<string>陽キャーズ</string>
<key>shortcut</key>
<string>ようきゃーず</string>
</dict>
<dict>
<key>phrase</key>
<string>楽陽</string>
<key>shortcut</key>
<string>らくよう</string>
</dict>
<dict>
<key>phrase</key>
<string>Ranunculus</string>
<key>shortcut</key>
<string>らなんきゅらす</string>
</dict>
<dict>
<key>phrase</key>
<string>リゼアン</string>
<key>shortcut</key>
<string>りぜあん</string>
</dict>
<dict>
<key>phrase</key>
<string>リゼるる</string>
<key>shortcut</key>
<string>りぜるる</string>
</dict>
<dict>
<key>phrase</key>
<string>Lilly Crown</string>
<key>shortcut</key>
<string>りりーくらうん</string>
</dict>
<dict>
<key>phrase</key>
<string>リリかざ</string>
<key>shortcut</key>
<string>りりかざ</string>
</dict>
<dict>
<key>phrase</key>
<string>RRR</string>
<key>shortcut</key>
<string>りりり</string>
</dict>
<dict>
<key>phrase</key>
<string>りんかえW</string>
<key>shortcut</key>
<string>りんかえだぶる</string>
</dict>
<dict>
<key>phrase</key>
<string>ルーザーキングス</string>
<key>shortcut</key>
<string>るーざーきんぐす</string>
</dict>
<dict>
<key>phrase</key>
<string>le jouet</string>
<key>shortcut</key>
<string>るじゅえ</string>
</dict>
<dict>
<key>phrase</key>
<string>Rain Drops</string>
<key>shortcut</key>
<string>れいんどろっぷす</string>
</dict>
<dict>
<key>phrase</key>
<string>LvEx</string>
<key>shortcut</key>
<string>れべるえっくす</string>
</dict>
<dict>
<key>phrase</key>
<string>ロリ組</string>
<key>shortcut</key>
<string>ろりぐみ</string>
</dict>
<dict>
<key>phrase</key>
<string>ンゴ灰那</string>
<key>shortcut</key>
<string>んごかいな</string>
</dict>
</array></plist>
