<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>月ノ美兎</string>
<key>shortcut</key>
<string>つきのみと</string>
</dict>
<dict>
<key>phrase</key>
<string>勇気ちひろ</string>
<key>shortcut</key>
<string>ゆうきちひろ</string>
</dict>
<dict>
<key>phrase</key>
<string>える</string>
<key>shortcut</key>
<string>える</string>
</dict>
<dict>
<key>phrase</key>
<string>樋口楓</string>
<key>shortcut</key>
<string>ひぐちかえで</string>
</dict>
<dict>
<key>phrase</key>
<string>静凛</string>
<key>shortcut</key>
<string>しずかりん</string>
</dict>
<dict>
<key>phrase</key>
<string>渋谷ハジメ</string>
<key>shortcut</key>
<string>しぶやはじめ</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴谷アキ</string>
<key>shortcut</key>
<string>すずやあき</string>
</dict>
<dict>
<key>phrase</key>
<string>モイラ</string>
<key>shortcut</key>
<string>もいら</string>
</dict>
<dict>
<key>phrase</key>
<string>渋谷オワリ</string>
<key>shortcut</key>
<string>しぶやおわり</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴鹿詩子</string>
<key>shortcut</key>
<string>すずかうたこ</string>
</dict>
<dict>
<key>phrase</key>
<string>宇志海いちご</string>
<key>shortcut</key>
<string>うしみいちご</string>
</dict>
<dict>
<key>phrase</key>
<string>家長むぎ</string>
<key>shortcut</key>
<string>いえながむぎ</string>
</dict>
<dict>
<key>phrase</key>
<string>夕陽リリ</string>
<key>shortcut</key>
<string>ゆうひりり</string>
</dict>
<dict>
<key>phrase</key>
<string>物述有栖</string>
<key>shortcut</key>
<string>もののべありす</string>
</dict>
<dict>
<key>phrase</key>
<string>文野環</string>
<key>shortcut</key>
<string>ふみのたまき</string>
</dict>
<dict>
<key>phrase</key>
<string>伏見ガク</string>
<key>shortcut</key>
<string>ふしみがく</string>
</dict>
<dict>
<key>phrase</key>
<string>ギルザレンIII世</string>
<key>shortcut</key>
<string>ぎるざれんさんせい</string>
</dict>
<dict>
<key>phrase</key>
<string>剣持刀也</string>
<key>shortcut</key>
<string>けんもちとうや</string>
</dict>
<dict>
<key>phrase</key>
<string>森中花咲</string>
<key>shortcut</key>
<string>もりなかかざき</string>
</dict>
<dict>
<key>phrase</key>
<string>剣持力也</string>
<key>shortcut</key>
<string>けんもちりきや</string>
</dict>
<dict>
<key>phrase</key>
<string>叶</string>
<key>shortcut</key>
<string>かなえ</string>
</dict>
<dict>
<key>phrase</key>
<string>赤羽葉子</string>
<key>shortcut</key>
<string>あかばねようこ</string>
</dict>
<dict>
<key>phrase</key>
<string>笹木咲</string>
<key>shortcut</key>
<string>ささきさく</string>
</dict>
<dict>
<key>phrase</key>
<string>本間ひまわり</string>
<key>shortcut</key>
<string>ほんまひまわり</string>
</dict>
<dict>
<key>phrase</key>
<string>魔界ノりりむ</string>
<key>shortcut</key>
<string>まかいのりりむ</string>
</dict>
<dict>
<key>phrase</key>
<string>葛葉</string>
<key>shortcut</key>
<string>くずは</string>
</dict>
<dict>
<key>phrase</key>
<string>椎名唯華</string>
<key>shortcut</key>
<string>しいなゆいか</string>
</dict>
<dict>
<key>phrase</key>
<string>闇夜乃モルル</string>
<key>shortcut</key>
<string>やみよのもるる</string>
</dict>
<dict>
<key>phrase</key>
<string>雪汝</string>
<key>shortcut</key>
<string>せつな</string>
</dict>
<dict>
<key>phrase</key>
<string>黒羽黒兎</string>
<key>shortcut</key>
<string>くろはねくろと</string>
</dict>
<dict>
<key>phrase</key>
<string>神成ポアロ</string>
<key>shortcut</key>
<string>かみなりぽあろ</string>
</dict>
<dict>
<key>phrase</key>
<string>ドーラ</string>
<key>shortcut</key>
<string>どーら</string>
</dict>
<dict>
<key>phrase</key>
<string>轟京子</string>
<key>shortcut</key>
<string>とどろききょうこ</string>
</dict>
<dict>
<key>phrase</key>
<string>シスター・クレア</string>
<key>shortcut</key>
<string>しすたーくれあ</string>
</dict>
<dict>
<key>phrase</key>
<string>花畑チャイカ</string>
<key>shortcut</key>
<string>はなばたけちゃいか</string>
</dict>
<dict>
<key>phrase</key>
<string>社築</string>
<key>shortcut</key>
<string>やしろきずく</string>
</dict>
<dict>
<key>phrase</key>
<string>安土桃</string>
<key>shortcut</key>
<string>あづちもも</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴木勝</string>
<key>shortcut</key>
<string>すずきまさる</string>
</dict>
<dict>
<key>phrase</key>
<string>緑仙</string>
<key>shortcut</key>
<string>りゅーしぇん</string>
</dict>
<dict>
<key>phrase</key>
<string>卯月コウ</string>
<key>shortcut</key>
<string>うづきこう</string>
</dict>
<dict>
<key>phrase</key>
<string>海夜叉神</string>
<key>shortcut</key>
<string>うみやしゃのかみ</string>
</dict>
<dict>
<key>phrase</key>
<string>八朔ゆず</string>
<key>shortcut</key>
<string>はっさくゆず</string>
</dict>
<dict>
<key>phrase</key>
<string>名伽尾アズマ</string>
<key>shortcut</key>
<string>なかおあずま</string>
</dict>
<dict>
<key>phrase</key>
<string>出雲霞</string>
<key>shortcut</key>
<string>いずもかすみ</string>
</dict>
<dict>
<key>phrase</key>
<string>安土桃</string>
<key>shortcut</key>
<string>あずちもも</string>
</dict>
<dict>
<key>phrase</key>
<string>卯月コウ</string>
<key>shortcut</key>
<string>うずきこう</string>
</dict>
<dict>
<key>phrase</key>
<string>漆黒の捕食者</string>
<key>shortcut</key>
<string>しっこくのほしょくしゃ</string>
</dict>
<dict>
<key>phrase</key>
<string>【DarknessEater】</string>
<key>shortcut</key>
<string>だーくねすいーたー</string>
</dict>
<dict>
<key>phrase</key>
<string>Ruco</string>
<key>shortcut</key>
<string>るこ</string>
</dict>
<dict>
<key>phrase</key>
<string>黄泉波咲夜</string>
<key>shortcut</key>
<string>よみなみさくや</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴木遥理</string>
<key>shortcut</key>
<string>すずきゆうり</string>
</dict>
<dict>
<key>phrase</key>
<string>神田笑一</string>
<key>shortcut</key>
<string>かんだしょういち</string>
</dict>
<dict>
<key>phrase</key>
<string>飛鳥ひな</string>
<key>shortcut</key>
<string>あすかひな</string>
</dict>
<dict>
<key>phrase</key>
<string>春崎エアル</string>
<key>shortcut</key>
<string>はるさきえある</string>
</dict>
<dict>
<key>phrase</key>
<string>雨森小夜</string>
<key>shortcut</key>
<string>あめもりさよ</string>
</dict>
<dict>
<key>phrase</key>
<string>鷹宮リオン</string>
<key>shortcut</key>
<string>たかみやりおん</string>
</dict>
<dict>
<key>phrase</key>
<string>舞元啓介</string>
<key>shortcut</key>
<string>まいもとけいすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>竜胆尊</string>
<key>shortcut</key>
<string>りんどうみこと</string>
</dict>
<dict>
<key>phrase</key>
<string>でびでび・でびる</string>
<key>shortcut</key>
<string>でびでびでびる</string>
</dict>
<dict>
<key>phrase</key>
<string>桜凛月</string>
<key>shortcut</key>
<string>さくらりつき</string>
</dict>
<dict>
<key>phrase</key>
<string>町田ちま</string>
<key>shortcut</key>
<string>まちたちま</string>
</dict>
<dict>
<key>phrase</key>
<string>ジョー・力一</string>
<key>shortcut</key>
<string>じょーりきいち</string>
</dict>
<dict>
<key>phrase</key>
<string>成瀬鳴</string>
<key>shortcut</key>
<string>なるせなる</string>
</dict>
<dict>
<key>phrase</key>
<string>ベルモンド・バンデラス</string>
<key>shortcut</key>
<string>べるもんどばんでらす</string>
</dict>
<dict>
<key>phrase</key>
<string>矢車りね</string>
<key>shortcut</key>
<string>やぐるまりね</string>
</dict>
<dict>
<key>phrase</key>
<string>夢追翔</string>
<key>shortcut</key>
<string>ゆめおいかける</string>
</dict>
<dict>
<key>phrase</key>
<string>黒井しば</string>
<key>shortcut</key>
<string>くろいしば</string>
</dict>
<dict>
<key>phrase</key>
<string>花伏しほ</string>
<key>shortcut</key>
<string>はなぶせしほ</string>
</dict>
<dict>
<key>phrase</key>
<string>雨森小夜</string>
<key>shortcut</key>
<string>あまもりさよ</string>
</dict>
<dict>
<key>phrase</key>
<string>町田ちま</string>
<key>shortcut</key>
<string>まちだちま</string>
</dict>
<dict>
<key>phrase</key>
<string>鳴門こがね</string>
<key>shortcut</key>
<string>なるとこがね</string>
</dict>
<dict>
<key>phrase</key>
<string>月見しずく</string>
<key>shortcut</key>
<string>つきみしずく</string>
</dict>
<dict>
<key>phrase</key>
<string>遠北千南</string>
<key>shortcut</key>
<string>あちきたちなみ</string>
</dict>
<dict>
<key>phrase</key>
<string>郡道美玲</string>
<key>shortcut</key>
<string>ぐんどうみれい</string>
</dict>
<dict>
<key>phrase</key>
<string>夢月ロア</string>
<key>shortcut</key>
<string>ゆづきろあ</string>
</dict>
<dict>
<key>phrase</key>
<string>小野町春香</string>
<key>shortcut</key>
<string>おのまちはるか</string>
</dict>
<dict>
<key>phrase</key>
<string>語部紡</string>
<key>shortcut</key>
<string>かたりべつむぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>瀬戸美夜子</string>
<key>shortcut</key>
<string>せとみやこ</string>
</dict>
<dict>
<key>phrase</key>
<string>戌亥とこ</string>
<key>shortcut</key>
<string>いぬいとこ</string>
</dict>
<dict>
<key>phrase</key>
<string>アンジュ・カトリーナ</string>
<key>shortcut</key>
<string>あんじゅかとりーな</string>
</dict>
<dict>
<key>phrase</key>
<string>リゼ・ヘルエスタ</string>
<key>shortcut</key>
<string>りぜへるえすた</string>
</dict>
<dict>
<key>phrase</key>
<string>久遠千歳</string>
<key>shortcut</key>
<string>くどうちとせ</string>
</dict>
<dict>
<key>phrase</key>
<string>御伽原江良</string>
<key>shortcut</key>
<string>おとぎばらえら</string>
</dict>
<dict>
<key>phrase</key>
<string>童田明治</string>
<key>shortcut</key>
<string>わらべだめいじー</string>
</dict>
<dict>
<key>phrase</key>
<string>三枝明那</string>
<key>shortcut</key>
<string>さえぐさあきな</string>
</dict>
<dict>
<key>phrase</key>
<string>愛園愛美</string>
<key>shortcut</key>
<string>あいぞのまなみ</string>
</dict>
<dict>
<key>phrase</key>
<string>雪城眞尋</string>
<key>shortcut</key>
<string>ゆきしろまひろ</string>
</dict>
<dict>
<key>phrase</key>
<string>エクス・アルビオ</string>
<key>shortcut</key>
<string>えくすあるびお</string>
</dict>
<dict>
<key>phrase</key>
<string>レヴィ・エリファ</string>
<key>shortcut</key>
<string>れゔぃえりふぁ</string>
</dict>
<dict>
<key>phrase</key>
<string>葉山舞鈴</string>
<key>shortcut</key>
<string>はやままりん</string>
</dict>
<dict>
<key>phrase</key>
<string>ニュイ・ソシエール</string>
<key>shortcut</key>
<string>にゅいそしえーる</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴原るる</string>
<key>shortcut</key>
<string>すずはらるる</string>
</dict>
<dict>
<key>phrase</key>
<string>葉加瀬冬雪</string>
<key>shortcut</key>
<string>はかせふゆき</string>
</dict>
<dict>
<key>phrase</key>
<string>加賀美ハヤト</string>
<key>shortcut</key>
<string>かがみはやと</string>
</dict>
<dict>
<key>phrase</key>
<string>夜見れな</string>
<key>shortcut</key>
<string>よるみれな</string>
</dict>
<dict>
<key>phrase</key>
<string>アルス・アルマル</string>
<key>shortcut</key>
<string>あるすあるまる</string>
</dict>
<dict>
<key>phrase</key>
<string>相羽ういは</string>
<key>shortcut</key>
<string>あいばういは</string>
</dict>
<dict>
<key>phrase</key>
<string>天宮こころ</string>
<key>shortcut</key>
<string>あまみやこころ</string>
</dict>
<dict>
<key>phrase</key>
<string>エリー・コニファー</string>
<key>shortcut</key>
<string>えりーこにふぁー</string>
</dict>
<dict>
<key>phrase</key>
<string>ラトナ・プティ</string>
<key>shortcut</key>
<string>らとなぷてぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>早瀬走</string>
<key>shortcut</key>
<string>はやせそう</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋花那</string>
<key>shortcut</key>
<string>すこやかな</string>
</dict>
<dict>
<key>phrase</key>
<string>シェリン・バーガンディ</string>
<key>shortcut</key>
<string>しぇりんばーがんでぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>黛灰</string>
<key>shortcut</key>
<string>まゆずみかい</string>
</dict>
<dict>
<key>phrase</key>
<string>フミ</string>
<key>shortcut</key>
<string>ふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>星川サラ</string>
<key>shortcut</key>
<string>ほしかわさら</string>
</dict>
<dict>
<key>phrase</key>
<string>山神カルタ</string>
<key>shortcut</key>
<string>やまがみかるた</string>
</dict>
<dict>
<key>phrase</key>
<string>えま★おうがすと</string>
<key>shortcut</key>
<string>えまおうがすと</string>
</dict>
<dict>
<key>phrase</key>
<string>ルイス・キャミー</string>
<key>shortcut</key>
<string>るいすきゃみー</string>
</dict>
<dict>
<key>phrase</key>
<string>魔使マオ</string>
<key>shortcut</key>
<string>まつかいまお</string>
</dict>
<dict>
<key>phrase</key>
<string>不破湊</string>
<key>shortcut</key>
<string>ふわみなと</string>
</dict>
<dict>
<key>phrase</key>
<string>白雪巴</string>
<key>shortcut</key>
<string>しらゆきともえ</string>
</dict>
<dict>
<key>phrase</key>
<string>グウェル・オス・ガール</string>
<key>shortcut</key>
<string>ぐうぇるおすがーる</string>
</dict>
<dict>
<key>phrase</key>
<string>ましろ</string>
<key>shortcut</key>
<string>ましろ</string>
</dict>
<dict>
<key>phrase</key>
<string>奈羅花</string>
<key>shortcut</key>
<string>ならか</string>
</dict>
<dict>
<key>phrase</key>
<string>来栖夏芽</string>
<key>shortcut</key>
<string>くるすなつめ</string>
</dict>
<dict>
<key>phrase</key>
<string>フレン・E・ルスタリオ</string>
<key>shortcut</key>
<string>ふれんいーるすたりお</string>
</dict>
<dict>
<key>phrase</key>
<string>イブラヒム</string>
<key>shortcut</key>
<string>いぶらひむ</string>
</dict>
<dict>
<key>phrase</key>
<string>メリッサ・キンレンカ</string>
<key>shortcut</key>
<string>めりっさきんれんか</string>
</dict>
<dict>
<key>phrase</key>
<string>長尾景</string>
<key>shortcut</key>
<string>ながおけい</string>
</dict>
<dict>
<key>phrase</key>
<string>弦月藤士郎</string>
<key>shortcut</key>
<string>げんづきとうじろう</string>
</dict>
<dict>
<key>phrase</key>
<string>甲斐田晴</string>
<key>shortcut</key>
<string>かいだはる</string>
</dict>
<dict>
<key>phrase</key>
<string>空星きらめ</string>
<key>shortcut</key>
<string>そらほしきらめ</string>
</dict>
<dict>
<key>phrase</key>
<string>金魚坂めいろ</string>
<key>shortcut</key>
<string>きんぎょざかめいろ</string>
</dict>
<dict>
<key>phrase</key>
<string>田角陸</string>
<key>shortcut</key>
<string>たずみりく</string>
</dict>
<dict>
<key>phrase</key>
<string>朝日南アカネ</string>
<key>shortcut</key>
<string>あさひなあかね</string>
</dict>
<dict>
<key>phrase</key>
<string>北小路ヒスイ</string>
<key>shortcut</key>
<string>きたこうじひすい</string>
</dict>
<dict>
<key>phrase</key>
<string>周央サンゴ</string>
<key>shortcut</key>
<string>すおうさんご</string>
</dict>
<dict>
<key>phrase</key>
<string>東堂コハク</string>
<key>shortcut</key>
<string>とうどうこはく</string>
</dict>
<dict>
<key>phrase</key>
<string>西園チグサ</string>
<key>shortcut</key>
<string>にしぞのちぐさ</string>
</dict>
<dict>
<key>phrase</key>
<string>アクシア・クローネ</string>
<key>shortcut</key>
<string>あくしあくろーね</string>
</dict>
<dict>
<key>phrase</key>
<string>ローレン・イロアス</string>
<key>shortcut</key>
<string>ろーれんいろあす</string>
</dict>
<dict>
<key>phrase</key>
<string>レオス・ヴィンセント</string>
<key>shortcut</key>
<string>れおすゔぃんせんと</string>
</dict>
<dict>
<key>phrase</key>
<string>オリバー・エバンス</string>
<key>shortcut</key>
<string>おりばーえばんす</string>
</dict>
<dict>
<key>phrase</key>
<string>レイン・パターソン</string>
<key>shortcut</key>
<string>れいんぱたーそん</string>
</dict>
<dict>
<key>phrase</key>
<string>天ヶ瀬むゆ</string>
<key>shortcut</key>
<string>あまがせむゆ</string>
</dict>
<dict>
<key>phrase</key>
<string>先斗寧</string>
<key>shortcut</key>
<string>ぽんとねい</string>
</dict>
<dict>
<key>phrase</key>
<string>海妹四葉</string>
<key>shortcut</key>
<string>うみせよつは</string>
</dict>
<dict>
<key>phrase</key>
<string>壱百満天原サロメ</string>
<key>shortcut</key>
<string>ひゃくまんてんばらさろめ</string>
</dict>
<dict>
<key>phrase</key>
<string>四季凪アキラ</string>
<key>shortcut</key>
<string>しきなぎあきら</string>
</dict>
<dict>
<key>phrase</key>
<string>渡会雲雀</string>
<key>shortcut</key>
<string>わたらいひばり</string>
</dict>
<dict>
<key>phrase</key>
<string>セラフ・ダズルガーデン</string>
<key>shortcut</key>
<string>せらふだずるがーでん</string>
</dict>
<dict>
<key>phrase</key>
<string>風楽奏斗</string>
<key>shortcut</key>
<string>ふうらかなと</string>
</dict>
<dict>
<key>phrase</key>
<string>美園聡</string>
<key>shortcut</key>
<string>みそのさとし</string>
</dict>
<dict>
<key>phrase</key>
<string>鏑木ろこ</string>
<key>shortcut</key>
<string>かぶらきろこ</string>
</dict>
<dict>
<key>phrase</key>
<string>倉持メルト</string>
<key>shortcut</key>
<string>くらもちめると</string>
</dict>
<dict>
<key>phrase</key>
<string>蕨ライカ</string>
<key>shortcut</key>
<string>わらびらいか</string>
</dict>
<dict>
<key>phrase</key>
<string>カブラギ</string>
<key>shortcut</key>
<string>かぶらぎ</string>
</dict>
<dict>
<key>phrase</key>
<string>ユードリック</string>
<key>shortcut</key>
<string>ゆーどりっく</string>
</dict>
<dict>
<key>phrase</key>
<string>月ノ</string>
<key>shortcut</key>
<string>つきの</string>
</dict>
<dict>
<key>phrase</key>
<string>美兎</string>
<key>shortcut</key>
<string>みと</string>
</dict>
<dict>
<key>phrase</key>
<string>勇気</string>
<key>shortcut</key>
<string>ゆうき</string>
</dict>
<dict>
<key>phrase</key>
<string>静</string>
<key>shortcut</key>
<string>しずか</string>
</dict>
<dict>
<key>phrase</key>
<string>凛</string>
<key>shortcut</key>
<string>りん</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴谷</string>
<key>shortcut</key>
<string>すずや</string>
</dict>
<dict>
<key>phrase</key>
<string>鈴鹿</string>
<key>shortcut</key>
<string>すずか</string>
</dict>
<dict>
<key>phrase</key>
<string>詩子</string>
<key>shortcut</key>
<string>うたこ</string>
</dict>
<dict>
<key>phrase</key>
<string>宇志海</string>
<key>shortcut</key>
<string>うしみ</string>
</dict>
<dict>
<key>phrase</key>
<string>家長</string>
<key>shortcut</key>
<string>いえなが</string>
</dict>
<dict>
<key>phrase</key>
<string>夕陽</string>
<key>shortcut</key>
<string>ゆうひ</string>
</dict>
<dict>
<key>phrase</key>
<string>物述</string>
<key>shortcut</key>
<string>もののべ</string>
</dict>
<dict>
<key>phrase</key>
<string>有栖</string>
<key>shortcut</key>
<string>ありす</string>
</dict>
<dict>
<key>phrase</key>
<string>文野</string>
<key>shortcut</key>
<string>ふみの</string>
</dict>
<dict>
<key>phrase</key>
<string>環</string>
<key>shortcut</key>
<string>たまき</string>
</dict>
<dict>
<key>phrase</key>
<string>剣持</string>
<key>shortcut</key>
<string>けんもち</string>
</dict>
<dict>
<key>phrase</key>
<string>刀也</string>
<key>shortcut</key>
<string>とうや</string>
</dict>
<dict>
<key>phrase</key>
<string>力也</string>
<key>shortcut</key>
<string>りきや</string>
</dict>
<dict>
<key>phrase</key>
<string>森中</string>
<key>shortcut</key>
<string>もりなか</string>
</dict>
<dict>
<key>phrase</key>
<string>​花咲</string>
<key>shortcut</key>
<string>かざき</string>
</dict>
<dict>
<key>phrase</key>
<string>笹木</string>
<key>shortcut</key>
<string>ささき</string>
</dict>
<dict>
<key>phrase</key>
<string>咲</string>
<key>shortcut</key>
<string>さく</string>
</dict>
<dict>
<key>phrase</key>
<string>魔界ノ</string>
<key>shortcut</key>
<string>まかいの</string>
</dict>
<dict>
<key>phrase</key>
<string>唯華</string>
<key>shortcut</key>
<string>ゆいか</string>
</dict>
<dict>
<key>phrase</key>
<string>闇夜乃</string>
<key>shortcut</key>
<string>やみよの</string>
</dict>
<dict>
<key>phrase</key>
<string>黒羽</string>
<key>shortcut</key>
<string>くろはね</string>
</dict>
<dict>
<key>phrase</key>
<string>黒兎</string>
<key>shortcut</key>
<string>くろと</string>
</dict>
<dict>
<key>phrase</key>
<string>神成</string>
<key>shortcut</key>
<string>かみなり</string>
</dict>
<dict>
<key>phrase</key>
<string>社</string>
<key>shortcut</key>
<string>やしろ</string>
</dict>
<dict>
<key>phrase</key>
<string>築</string>
<key>shortcut</key>
<string>きずく</string>
</dict>
<dict>
<key>phrase</key>
<string>名伽尾</string>
<key>shortcut</key>
<string>なかお</string>
</dict>
<dict>
<key>phrase</key>
<string>笑一</string>
<key>shortcut</key>
<string>しょういち</string>
</dict>
<dict>
<key>phrase</key>
<string>雨森</string>
<key>shortcut</key>
<string>あめもり</string>
</dict>
<dict>
<key>phrase</key>
<string>小夜</string>
<key>shortcut</key>
<string>さよ</string>
</dict>
<dict>
<key>phrase</key>
<string>鷹宮</string>
<key>shortcut</key>
<string>たかみや</string>
</dict>
<dict>
<key>phrase</key>
<string>舞元</string>
<key>shortcut</key>
<string>まいもと</string>
</dict>
<dict>
<key>phrase</key>
<string>啓介</string>
<key>shortcut</key>
<string>けいすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>凛月</string>
<key>shortcut</key>
<string>りつき</string>
</dict>
<dict>
<key>phrase</key>
<string>町田</string>
<key>shortcut</key>
<string>まちた</string>
</dict>
<dict>
<key>phrase</key>
<string>力一</string>
<key>shortcut</key>
<string>りきいち</string>
</dict>
<dict>
<key>phrase</key>
<string>遠北</string>
<key>shortcut</key>
<string>あちきた</string>
</dict>
<dict>
<key>phrase</key>
<string>千南</string>
<key>shortcut</key>
<string>ちなみ</string>
</dict>
<dict>
<key>phrase</key>
<string>鳴</string>
<key>shortcut</key>
<string>なる</string>
</dict>
<dict>
<key>phrase</key>
<string>夢追</string>
<key>shortcut</key>
<string>ゆめおい</string>
</dict>
<dict>
<key>phrase</key>
<string>翔</string>
<key>shortcut</key>
<string>かける</string>
</dict>
<dict>
<key>phrase</key>
<string>童田</string>
<key>shortcut</key>
<string>わらべだ</string>
</dict>
<dict>
<key>phrase</key>
<string>明治</string>
<key>shortcut</key>
<string>めいじー</string>
</dict>
<dict>
<key>phrase</key>
<string>郡道</string>
<key>shortcut</key>
<string>ぐんどう</string>
</dict>
<dict>
<key>phrase</key>
<string>美玲</string>
<key>shortcut</key>
<string>みれい</string>
</dict>
<dict>
<key>phrase</key>
<string>夢月</string>
<key>shortcut</key>
<string>ゆづき</string>
</dict>
<dict>
<key>phrase</key>
<string>語部</string>
<key>shortcut</key>
<string>かたりべ</string>
</dict>
<dict>
<key>phrase</key>
<string>紡</string>
<key>shortcut</key>
<string>つむぐ</string>
</dict>
<dict>
<key>phrase</key>
<string>美夜子</string>
<key>shortcut</key>
<string>みやこ</string>
</dict>
<dict>
<key>phrase</key>
<string>御伽原</string>
<key>shortcut</key>
<string>おとぎばら</string>
</dict>
<dict>
<key>phrase</key>
<string>江良</string>
<key>shortcut</key>
<string>えら</string>
</dict>
<dict>
<key>phrase</key>
<string>久遠</string>
<key>shortcut</key>
<string>くどう</string>
</dict>
<dict>
<key>phrase</key>
<string>明那</string>
<key>shortcut</key>
<string>あきな</string>
</dict>
<dict>
<key>phrase</key>
<string>愛園</string>
<key>shortcut</key>
<string>あいぞの</string>
</dict>
<dict>
<key>phrase</key>
<string>愛美</string>
<key>shortcut</key>
<string>まなみ</string>
</dict>
<dict>
<key>phrase</key>
<string>眞尋</string>
<key>shortcut</key>
<string>まひろ</string>
</dict>
<dict>
<key>phrase</key>
<string>舞鈴</string>
<key>shortcut</key>
<string>まりん</string>
</dict>
<dict>
<key>phrase</key>
<string>冬雪</string>
<key>shortcut</key>
<string>ふゆき</string>
</dict>
<dict>
<key>phrase</key>
<string>夜見</string>
<key>shortcut</key>
<string>よるみ</string>
</dict>
<dict>
<key>phrase</key>
<string>灰</string>
<key>shortcut</key>
<string>かい</string>
</dict>
<dict>
<key>phrase</key>
<string>天宮</string>
<key>shortcut</key>
<string>あまみや</string>
</dict>
<dict>
<key>phrase</key>
<string>早瀬</string>
<key>shortcut</key>
<string>はやせ</string>
</dict>
<dict>
<key>phrase</key>
<string>走</string>
<key>shortcut</key>
<string>そう</string>
</dict>
<dict>
<key>phrase</key>
<string>健屋</string>
<key>shortcut</key>
<string>すこや</string>
</dict>
<dict>
<key>phrase</key>
<string>花那</string>
<key>shortcut</key>
<string>かな</string>
</dict>
<dict>
<key>phrase</key>
<string>魔使</string>
<key>shortcut</key>
<string>まつかい</string>
</dict>
<dict>
<key>phrase</key>
<string>周央</string>
<key>shortcut</key>
<string>すおう</string>
</dict>
<dict>
<key>phrase</key>
<string>海妹</string>
<key>shortcut</key>
<string>うみせ</string>
</dict>
<dict>
<key>phrase</key>
<string>壱百満天原</string>
<key>shortcut</key>
<string>ひゃくまんてんばら</string>
</dict>
<dict>
<key>phrase</key>
<string>天開司</string>
<key>shortcut</key>
<string>てんかいつかさ</string>
</dict>
<dict>
<key>phrase</key>
<string>ふぇありす</string>
<key>shortcut</key>
<string>ふぇありす</string>
</dict>
</array></plist>
