<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>ジョニー</string>
<key>shortcut</key>
<string>じょにー</string>
</dict>
<dict>
<key>phrase</key>
<string>うさちゃん先生</string>
<key>shortcut</key>
<string>うさちゃんせんせい</string>
</dict>
<dict>
<key>phrase</key>
<string>ゴンザレス</string>
<key>shortcut</key>
<string>ごんざれす</string>
</dict>
<dict>
<key>phrase</key>
<string>セバスピヨ</string>
<key>shortcut</key>
<string>せばすぴよ</string>
</dict>
<dict>
<key>phrase</key>
<string>フラン犬</string>
<key>shortcut</key>
<string>ふらんけん</string>
</dict>
<dict>
<key>phrase</key>
<string>鳩見れな</string>
<key>shortcut</key>
<string>はとみれな</string>
</dict>
<dict>
<key>phrase</key>
<string>ときんちゃん</string>
<key>shortcut</key>
<string>ときんちゃん</string>
</dict>
<dict>
<key>phrase</key>
<string>すとまっくん</string>
<key>shortcut</key>
<string>すとまっくん</string>
</dict>
<dict>
<key>phrase</key>
<string>ロト</string>
<key>shortcut</key>
<string>ろと</string>
</dict>
<dict>
<key>phrase</key>
<string>うい郎</string>
<key>shortcut</key>
<string>ういろう</string>
</dict>
<dict>
<key>phrase</key>
<string>りきハムちゃん</string>
<key>shortcut</key>
<string>りきはむちゃん</string>
</dict>
<dict>
<key>phrase</key>
<string>かめっくしゅくん</string>
<key>shortcut</key>
<string>かめっくしゅくん</string>
</dict>
<dict>
<key>phrase</key>
<string>内名色吉郎</string>
<key>shortcut</key>
<string>うちないろきちろう</string>
</dict>
<dict>
<key>phrase</key>
<string>フワッチクルーラー</string>
<key>shortcut</key>
<string>ふわっちくるーらー</string>
</dict>
<dict>
<key>phrase</key>
<string>白井ぽめ</string>
<key>shortcut</key>
<string>しらいぽめ</string>
</dict>
<dict>
<key>phrase</key>
<string>でびっち</string>
<key>shortcut</key>
<string>でびっち</string>
</dict>
<dict>
<key>phrase</key>
<string>ゆがみん</string>
<key>shortcut</key>
<string>ゆがみん</string>
</dict>
<dict>
<key>phrase</key>
<string>ねづみどし</string>
<key>shortcut</key>
<string>ねづみどし</string>
</dict>
<dict>
<key>phrase</key>
<string>cacao</string>
<key>shortcut</key>
<string>かかお</string>
</dict>
<dict>
<key>phrase</key>
<string>ほーじろ</string>
<key>shortcut</key>
<string>ほーじろ</string>
</dict>
<dict>
<key>phrase</key>
<string>竹花ノート</string>
<key>shortcut</key>
<string>たけはなのーと</string>
</dict>
<dict>
<key>phrase</key>
<string>CH3</string>
<key>shortcut</key>
<string>めちるき</string>
</dict>
<dict>
<key>phrase</key>
<string>萌木雄太</string>
<key>shortcut</key>
<string>もえきゆうた</string>
</dict>
<dict>
<key>phrase</key>
<string>ソウスケ</string>
<key>shortcut</key>
<string>そうすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>森名尚</string>
<key>shortcut</key>
<string>もりななお</string>
</dict>
<dict>
<key>phrase</key>
<string>U助</string>
<key>shortcut</key>
<string>ゆーすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>Na53</string>
<key>shortcut</key>
<string>なごみ</string>
</dict>
<dict>
<key>phrase</key>
<string>GT</string>
<key>shortcut</key>
<string>じーてぃー</string>
</dict>
<dict>
<key>phrase</key>
<string>YSK</string>
<key>shortcut</key>
<string>ゆすけ</string>
</dict>
<dict>
<key>phrase</key>
<string>さかなへん</string>
<key>shortcut</key>
<string>さかなへん</string>
</dict>
<dict>
<key>phrase</key>
<string>ikuyoan</string>
<key>shortcut</key>
<string>いくよあん</string>
</dict>
<dict>
<key>phrase</key>
<string>おとと</string>
<key>shortcut</key>
<string>おとと</string>
</dict>
<dict>
<key>phrase</key>
<string>神吉李花</string>
<key>shortcut</key>
<string>かみよしりか</string>
</dict>
<dict>
<key>phrase</key>
<string>小金井コガネ</string>
<key>shortcut</key>
<string>こがねいこがね</string>
</dict>
<dict>
<key>phrase</key>
<string>三瀬ゆづき</string>
<key>shortcut</key>
<string>みせゆづき</string>
</dict>
<dict>
<key>phrase</key>
<string>やすも</string>
<key>shortcut</key>
<string>やすも</string>
</dict>
<dict>
<key>phrase</key>
<string>夏目チョコ</string>
<key>shortcut</key>
<string>なつめちょこ</string>
</dict>
<dict>
<key>phrase</key>
<string>lack</string>
<key>shortcut</key>
<string>らっく</string>
</dict>
<dict>
<key>phrase</key>
<string>本田ロアロ</string>
<key>shortcut</key>
<string>ほんだろあろ</string>
</dict>
<dict>
<key>phrase</key>
<string>苔コッコ</string>
<key>shortcut</key>
<string>こけこっこ</string>
</dict>
<dict>
<key>phrase</key>
<string>神岡ちろる</string>
<key>shortcut</key>
<string>かみおかちろる</string>
</dict>
<dict>
<key>phrase</key>
<string>YuzuKi</string>
<key>shortcut</key>
<string>ゆずき</string>
</dict>
<dict>
<key>phrase</key>
<string>るかこ</string>
<key>shortcut</key>
<string>るかこ</string>
</dict>
<dict>
<key>phrase</key>
<string>タジマ粒子</string>
<key>shortcut</key>
<string>たじまりゅうし</string>
</dict>
<dict>
<key>phrase</key>
<string>ni02</string>
<key>shortcut</key>
<string>にに</string>
</dict>
<dict>
<key>phrase</key>
<string>巻羊</string>
<key>shortcut</key>
<string>まきひつじ</string>
</dict>
<dict>
<key>phrase</key>
<string>ハリオ</string>
<key>shortcut</key>
<string>はりお</string>
</dict>
<dict>
<key>phrase</key>
<string>栗原さくら</string>
<key>shortcut</key>
<string>くりはらさくら</string>
</dict>
<dict>
<key>phrase</key>
<string>きのこむし</string>
<key>shortcut</key>
<string>きのこむし</string>
</dict>
<dict>
<key>phrase</key>
<string>スドウミノル</string>
<key>shortcut</key>
<string>すどうみのる</string>
</dict>
<dict>
<key>phrase</key>
<string>柴乃櫂人</string>
<key>shortcut</key>
<string>しばのかいと</string>
</dict>
<dict>
<key>phrase</key>
<string>ペコ太郎</string>
<key>shortcut</key>
<string>ぺこたろう</string>
</dict>
<dict>
<key>phrase</key>
<string>ハヤブサ</string>
<key>shortcut</key>
<string>はやぶさ</string>
</dict>
<dict>
<key>phrase</key>
<string>かやはら</string>
<key>shortcut</key>
<string>かやはら</string>
</dict>
<dict>
<key>phrase</key>
<string>ようか</string>
<key>shortcut</key>
<string>ようか</string>
</dict>
<dict>
<key>phrase</key>
<string>カワグチ</string>
<key>shortcut</key>
<string>かわぐち</string>
</dict>
<dict>
<key>phrase</key>
<string>藤ちょこ</string>
<key>shortcut</key>
<string>ふじちょこ</string>
</dict>
<dict>
<key>phrase</key>
<string>ネヲ</string>
<key>shortcut</key>
<string>ねを</string>
</dict>
<dict>
<key>phrase</key>
<string>伊東ライフ</string>
<key>shortcut</key>
<string>いとうらいふ</string>
</dict>
<dict>
<key>phrase</key>
<string>さいね</string>
<key>shortcut</key>
<string>さいね</string>
</dict>
<dict>
<key>phrase</key>
<string>ケースワベ</string>
<key>shortcut</key>
<string>けーすわべ</string>
</dict>
<dict>
<key>phrase</key>
<string>きる太</string>
<key>shortcut</key>
<string>きるた</string>
</dict>
<dict>
<key>phrase</key>
<string>fumi</string>
<key>shortcut</key>
<string>ふみ</string>
</dict>
<dict>
<key>phrase</key>
<string>カンザリン</string>
<key>shortcut</key>
<string>かんざりん</string>
</dict>
<dict>
<key>phrase</key>
<string>vane</string>
<key>shortcut</key>
<string>ばね</string>
</dict>
<dict>
<key>phrase</key>
<string>冬臣</string>
<key>shortcut</key>
<string>ふゆおみ</string>
</dict>
<dict>
<key>phrase</key>
<string>あるてら</string>
<key>shortcut</key>
<string>あるてら</string>
</dict>
<dict>
<key>phrase</key>
<string>いちじく</string>
<key>shortcut</key>
<string>いちじく</string>
</dict>
<dict>
<key>phrase</key>
<string>Paryi</string>
<key>shortcut</key>
<string>ぱりー</string>
</dict>
<dict>
<key>phrase</key>
<string>東西</string>
<key>shortcut</key>
<string>とうざい</string>
</dict>
<dict>
<key>phrase</key>
<string>さくらしおり</string>
<key>shortcut</key>
<string>さくらしおり</string>
</dict>
<dict>
<key>phrase</key>
<string>アナ</string>
<key>shortcut</key>
<string>あな</string>
</dict>
<dict>
<key>phrase</key>
<string>西ノ田</string>
<key>shortcut</key>
<string>にしのだ</string>
</dict>
<dict>
<key>phrase</key>
<string>フカヒレ</string>
<key>shortcut</key>
<string>ふかひれ</string>
</dict>
<dict>
<key>phrase</key>
<string>米白粕</string>
<key>shortcut</key>
<string>こめしろかす</string>
</dict>
<dict>
<key>phrase</key>
<string>しらたま</string>
<key>shortcut</key>
<string>しらたま</string>
</dict>
<dict>
<key>phrase</key>
<string>もきゅ</string>
<key>shortcut</key>
<string>もきゅ</string>
</dict>
<dict>
<key>phrase</key>
<string>生川</string>
<key>shortcut</key>
<string>なまかわ</string>
</dict>
<dict>
<key>phrase</key>
<string>とまつかぜ</string>
<key>shortcut</key>
<string>とまつかぜ</string>
</dict>
<dict>
<key>phrase</key>
<string>UNI</string>
<key>shortcut</key>
<string>ゆに</string>
</dict>
<dict>
<key>phrase</key>
<string>モリカワシュウト</string>
<key>shortcut</key>
<string>もりかわしゅうと</string>
</dict>
<dict>
<key>phrase</key>
<string>おしお</string>
<key>shortcut</key>
<string>おしお</string>
</dict>
<dict>
<key>phrase</key>
<string>もちひよこ</string>
<key>shortcut</key>
<string>もちひよこ</string>
</dict>
<dict>
<key>phrase</key>
<string>私立帝華高校</string>
<key>shortcut</key>
<string>しりつていかこうこう</string>
</dict>
<dict>
<key>phrase</key>
<string>帝華高校</string>
<key>shortcut</key>
<string>ていかこうこう</string>
</dict>
<dict>
<key>phrase</key>
<string>帝華</string>
<key>shortcut</key>
<string>ていか</string>
</dict>
<dict>
<key>phrase</key>
<string>黒蝶石</string>
<key>shortcut</key>
<string>こくちょうせき</string>
</dict>
<dict>
<key>phrase</key>
<string>宝玉</string>
<key>shortcut</key>
<string>ほうぎょく</string>
</dict>
<dict>
<key>phrase</key>
<string>賢者の石</string>
<key>shortcut</key>
<string>けんじゃのいし</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじのハッピーアワー!!</string>
<key>shortcut</key>
<string>にじさんじのはっぴーあわー</string>
</dict>
<dict>
<key>phrase</key>
<string>だいたいにじさんじのラジオ</string>
<key>shortcut</key>
<string>だいたいにじさんじのらじお</string>
</dict>
<dict>
<key>phrase</key>
<string>リゼるるListen</string>
<key>shortcut</key>
<string>りぜるるりっすん</string>
</dict>
<dict>
<key>phrase</key>
<string>ぷちさんじ</string>
<key>shortcut</key>
<string>ぷちさんじ</string>
</dict>
<dict>
<key>phrase</key>
<string> ▽▲TRiNITY▲▽のTHE CATCH</string>
<key>shortcut</key>
<string>とりにてぃのざきゃっち</string>
</dict>
<dict>
<key>phrase</key>
<string>樋口楓のTHE CATCH</string>
<key>shortcut</key>
<string>ひぐちかえでのざきゃっち</string>
</dict>
<dict>
<key>phrase</key>
<string>ヤシロ＆ササキのレバガチャダイパン</string>
<key>shortcut</key>
<string>やしろささきのればがちゃだいぱん</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじのB級バラエティ(仮)</string>
<key>shortcut</key>
<string>にじさんじのびーきゅうばらえてぃ</string>
</dict>
<dict>
<key>phrase</key>
<string>たすけて！#ガッキュー裁判</string>
<key>shortcut</key>
<string>たすけてがっきゅーさいばん</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじMIX UP!!</string>
<key>shortcut</key>
<string>にじさんじみっくすあっぷ</string>
</dict>
<dict>
<key>phrase</key>
<string>にじさんじのくじじゅうじ</string>
<key>shortcut</key>
<string>にじさんじのくじじゅうじ</string>
</dict>
<dict>
<key>phrase</key>
<string>月ノ美兎のズル休みラジオ</string>
<key>shortcut</key>
<string>つきのみとのずるやすみらじお</string>
</dict>
<dict>
<key>phrase</key>
<string>ツキイチ！にじさんじ</string>
<key>shortcut</key>
<string>つきいちにじさんじ</string>
</dict>
<dict>
<key>phrase</key>
<string>petit fleursのTHE CATCH</string>
<key>shortcut</key>
<string>ぷちふるーるのざきゃっち</string>
</dict>
<dict>
<key>phrase</key>
<string>リゼるるLink</string>
<key>shortcut</key>
<string>りぜるるりんく</string>
</dict>
</array></plist>
