<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>ジョニー</string>
<key>shortcut</key>
<string>じょにー</string>
</dict>
<dict>
<key>phrase</key>
<string>うさちゃん先生</string>
<key>shortcut</key>
<string>うさちゃんせんせい</string>
</dict>
<dict>
<key>phrase</key>
<string>ゴンザレス</string>
<key>shortcut</key>
<string>ごんざれす</string>
</dict>
<dict>
<key>phrase</key>
<string>セバスピヨ</string>
<key>shortcut</key>
<string>せばすぴよ</string>
</dict>
<dict>
<key>phrase</key>
<string>フラン犬</string>
<key>shortcut</key>
<string>ふらんけん</string>
</dict>
<dict>
<key>phrase</key>
<string>鳩見れな</string>
<key>shortcut</key>
<string>はとみれな</string>
</dict>
<dict>
<key>phrase</key>
<string>ときんちゃん</string>
<key>shortcut</key>
<string>ときんちゃん</string>
</dict>
<dict>
<key>phrase</key>
<string>すとまっくん</string>
<key>shortcut</key>
<string>すとまっくん</string>
</dict>
<dict>
<key>phrase</key>
<string>ロト</string>
<key>shortcut</key>
<string>ろと</string>
</dict>
<dict>
<key>phrase</key>
<string>うい郎</string>
<key>shortcut</key>
<string>ういろう</string>
</dict>
<dict>
<key>phrase</key>
<string>りきハムちゃん</string>
<key>shortcut</key>
<string>りきはむちゃん</string>
</dict>
<dict>
<key>phrase</key>
<string>かめっくしゅくん</string>
<key>shortcut</key>
<string>かめっくしゅくん</string>
</dict>
<dict>
<key>phrase</key>
<string>内名色吉郎</string>
<key>shortcut</key>
<string>うちないろきちろう</string>
</dict>
<dict>
<key>phrase</key>
<string>フワッチクルーラー</string>
<key>shortcut</key>
<string>ふわっちくるーらー</string>
</dict>
<dict>
<key>phrase</key>
<string>白井ぽめ</string>
<key>shortcut</key>
<string>しらいぽめ</string>
</dict>
<dict>
<key>phrase</key>
<string>でびっち</string>
<key>shortcut</key>
<string>でびっち</string>
</dict>
<dict>
<key>phrase</key>
<string>ゆがみん</string>
<key>shortcut</key>
<string>ゆがみん</string>
</dict>
<dict>
<key>phrase</key>
<string>桜魔皇国</string>
<key>shortcut</key>
<string>おうまこうこく</string>
</dict>
<dict>
<key>phrase</key>
<string>世怜音女学院</string>
<key>shortcut</key>
<string>せれいねじょがくいん</string>
</dict>
<dict>
<key>phrase</key>
<string>Lie:verse Liars</string>
<key>shortcut</key>
<string>りーばーすらいやーず</string>
</dict>
</array></plist>
