<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>九埜織人</string>
<key>shortcut</key>
<string>くのおりひと</string>
</dict>
<dict>
<key>phrase</key>
<string>青桐美星乃</string>
<key>shortcut</key>
<string>あおきりみほの</string>
</dict>
<dict>
<key>phrase</key>
<string>露嵜つゆ</string>
<key>shortcut</key>
<string>つゆざきつゆ</string>
</dict>
<dict>
<key>phrase</key>
<string>御子柴仁</string>
<key>shortcut</key>
<string>みこしばじん</string>
</dict>
<dict>
<key>phrase</key>
<string>メアノ</string>
<key>shortcut</key>
<string>めあの</string>
</dict>
<dict>
<key>phrase</key>
<string>未来丹音羽</string>
<key>shortcut</key>
<string>みくにおとは</string>
</dict>
<dict>
<key>phrase</key>
<string>檜山律</string>
<key>shortcut</key>
<string>ひやまりつ</string>
</dict>
<dict>
<key>phrase</key>
<string>日下部あずさ</string>
<key>shortcut</key>
<string>くさかべあずさ</string>
</dict>
<dict>
<key>phrase</key>
<string>苗代千和</string>
<key>shortcut</key>
<string>なえじろちわ</string>
</dict>
<dict>
<key>phrase</key>
<string>水町ナコ</string>
<key>shortcut</key>
<string>みずまちなこ</string>
</dict>
<dict>
<key>phrase</key>
<string>媛守エリカ</string>
<key>shortcut</key>
<string>ひめもりえりか</string>
</dict>
<dict>
<key>phrase</key>
<string>宮永由鶴</string>
<key>shortcut</key>
<string>みやながゆづる</string>
</dict>
<dict>
<key>phrase</key>
<string>千吉良健人</string>
<key>shortcut</key>
<string>ちぎらけんと</string>
</dict>
<dict>
<key>phrase</key>
<string>瀧山グングニル</string>
<key>shortcut</key>
<string>たきやまぐんぐにる</string>
</dict>
<dict>
<key>phrase</key>
<string>暁レイヤ</string>
<key>shortcut</key>
<string>あかつきれいや</string>
</dict>
<dict>
<key>phrase</key>
<string>野々宮めら</string>
<key>shortcut</key>
<string>ののみやめら</string>
</dict>
<dict>
<key>phrase</key>
<string>涼宮颯</string>
<key>shortcut</key>
<string>すずみやそなた</string>
</dict>
</array></plist>
