<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><array>
<dict>
<key>phrase</key>
<string>九埜織人</string>
<key>shortcut</key>
<string>くのおりひと</string>
</dict>
<dict>
<key>phrase</key>
<string>立伝都々</string>
<key>shortcut</key>
<string>たちつてとと</string>
</dict>
<dict>
<key>phrase</key>
<string>青桐美星乃</string>
<key>shortcut</key>
<string>あおきりみほの</string>
</dict>
<dict>
<key>phrase</key>
<string>佐伯一徹</string>
<key>shortcut</key>
<string>さいきいってつ</string>
</dict>
<dict>
<key>phrase</key>
<string>露嵜つゆ</string>
<key>shortcut</key>
<string>つゆざきつゆ</string>
</dict>
<dict>
<key>phrase</key>
<string>御子柴仁</string>
<key>shortcut</key>
<string>みこしばじん</string>
</dict>
<dict>
<key>phrase</key>
<string>石神のぞみ</string>
<key>shortcut</key>
<string>いしがみのぞみ</string>
</dict>
<dict>
<key>phrase</key>
<string>宇佐美リト</string>
<key>shortcut</key>
<string>うさみりと</string>
</dict>
<dict>
<key>phrase</key>
<string>メアノ</string>
<key>shortcut</key>
<string>めあの</string>
</dict>
<dict>
<key>phrase</key>
<string>小柳ロウ</string>
<key>shortcut</key>
<string>こやなぎろう</string>
</dict>
<dict>
<key>phrase</key>
<string>未来丹音羽</string>
<key>shortcut</key>
<string>みくにおとは</string>
</dict>
<dict>
<key>phrase</key>
<string>檜山律</string>
<key>shortcut</key>
<string>ひやまりつ</string>
</dict>
<dict>
<key>phrase</key>
<string>日下部あずさ</string>
<key>shortcut</key>
<string>くさかべあずさ</string>
</dict>
<dict>
<key>phrase</key>
<string>鬼伏千隼</string>
<key>shortcut</key>
<string>おにぶしちはや</string>
</dict>
<dict>
<key>phrase</key>
<string>星導晶</string>
<key>shortcut</key>
<string>ほしるべしょう</string>
</dict>
<dict>
<key>phrase</key>
<string>涼宮颯</string>
<key>shortcut</key>
<string>すずみやそなた</string>
</dict>
</array></plist>
